<html>
  <head>
    <title>Apptrix.org Components</title>
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.png">

    <meta name="go-import" content="apptrix.org/components git https://github.com/ApptrixAI/components">
  </head>


  <body>
    <header>
      <h1><a href="/">Apptrix.org</a></h1>

      <img src="/favicon.png" />
    </header>

    <div class="main">
      <p>Apptrix Open Source Components - see more at <a href="//github.com/ApptrixAI/components/">GitHub</a>.</p>


    </div>
  </body>
</html>

